<div class="header-container">
  <header class="wrapper clearfix" id="header-region"></header>
</div>

<div class="main-container">
  <div class="main wrapper clearfix" id="main-region"></div>
</div>

<div class="footer-container">
  <footer class="wrapper" id="footer-region">
    <h3>footer</h3>
  </footer>
</div>
